
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/Content/Assets/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@ViewBag.post.title</h1>
                    <h2 class="subheading">@ViewBag.post.desShort</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">@ViewBag.post.User.fullName</a>
                        on @ViewBag.post.createdAt
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(ViewBag.post.content) 
            </div>
        </div>
    </div>
</article>

<hr>

