@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@{ var userInfomatiom = (FA.JustBlog.Models.User)Session["USER"]; }
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Quản trị</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Clean Blog</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">Xin chào, @userInfomatiom.fullName <i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/AdminHome/Logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <main style="width: 1500px; margin : 60px auto">
            <div class="container-fluid px-4">
                <h1 class="mt-4">Danh sách bài viết</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        @if (ViewBag.Msg != null)
                        {
                            if (ViewBag.Msg == "1")
                            {
                                <div class="alert alert-success">
                                    <strong>Thành công</strong>
                                </div>
                            }
                        }
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#exampleModalAdd">
                            Thêm mới
                        </button>
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr style="background-color:gray">
                                    <th>STT</th>
                                    <th>Tiêu đề</th>
                                    <th>Mô tả ngắn</th>
                                    <th>Ngày tạo</th>
                                    <th>Thao tác</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>STT</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <input type="hidden" value="@ViewBag.count" id="dodai" />
                                @{
                                    var index = 1;
                                }
                                @foreach (var item in ViewBag.list)
                                {

                                    var nameUpdate = "exampleModal" + item.id_post;
                                    var nameUpdate1 = "#exampleModal" + item.id_post;
                                    var nameDe = "exampleModalDe" + item.id_post;
                                    var nameDe1 = "#exampleModalDe" + item.id_post;
                                    var nameModalDelete1 = "#exampleModalDelete" + item.id_post;
                                    var nameModalDelete = "exampleModalDelete" + item.id_post;
                                    var edit = "comment" + index;

                                    <tr>
                                        <td style="width : 30px !important">@index</td>
                                        <td>@item.title</td>
                                        <td>@item.desShort</td>
                                        <td style="width : 170px !important">@item.createdAt</td>
                                        <td style="width : 250px !important">
                                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="@nameDe1">
                                                Chi tiết
                                            </button>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="@nameUpdate1">
                                                Cập nhật
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                    data-bs-target="@nameModalDelete1">
                                                Xóa
                                            </button>
                                        </td>

                                    </tr>
                                    <div class="modal fade" id="@nameModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa ?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Bài viết : <span>@item.title</span>
                                                    <form action="/AdminHome/Delete" method="post">
                                                        <input type="hidden" class="form-control" id="id" name="id" value="@item.id_post">
                                                        <div class="modal-footer mt-1">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="@nameUpdate" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Cập nhập</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/AdminHome/Update" method="post">
                                                        <input type="hidden" class="form-control" name="id" value="@item.id_post" id="category-film">
                                                        <div class="mb-3">
                                                            <label for="category-film"
                                                                   class="col-form-label">Tiêu đề:</label>
                                                            <input type="text" class="form-control" id="category-film" name="tieude" value="@item.title" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="category-film"
                                                                   class="col-form-label">Mô tả ngắn:</label>
                                                            <input type="text" class="form-control" id="category-film" name="motangan" value="@item.desShort" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="category-film"
                                                                   class="col-form-label">Nội dung:</label>
                                                            <textarea class="form-control" name="noidung" id="@edit" cols="30" rows="9">@Html.Raw(item.content)</textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="@nameDe" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/AdminHome/Update" method="post">
                                                        <div class="mb-3">
                                                            <label for="category-film"
                                                                   class="col-form-label"><strong>Tiêu đề:</strong></label>
                                                            <p>@item.title</p>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="category-film"
                                                                   class="col-form-label"><strong>Mô tả ngắn:</strong></label>
                                                            <p>@item.desShort</p>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="category-film"
                                                                   class="col-form-label"><strong>Nội dung:</strong></label>
                                                            <p>@Html.Raw(item.content)</p>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    index++;
                                }
                                <!-- Modal Add-->
                                <div class="modal fade" id="exampleModalAdd" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/AdminHome/Add" method="post">
                                                    <div class="mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Tiêu đề:</label>
                                                        <input type="text" class="form-control" id="category-film" name="tieude" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Mô tả ngắn:</label>
                                                        <input type="text" class="form-control" id="category-film" name="motangan" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="category-film"
                                                               class="col-form-label">Nội dung:</label>
                                                        <textarea class="form-control" name="noidung" id="commentt" cols="30" rows="9"></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Save </button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Modal Update-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        CKEDITOR.replace("commentt");
        var dodai = document.getElementById("dodai").value;

        for (var i = 1; i <= dodai; i++) {
            var name = "comment" + i
            CKEDITOR.replace(name);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="~/Content/Admin/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/Content/Admin/js/datatables-simple-demo.js"></script>
</body>

</html>
